.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color: lightblue;
}

.item2 {
    grid-area: 2/1/4/span 2;
    background-color: lightgreen;
}

.item3 {
    grid-row: 2 / 4;
    grid-column: 3 / span 2;
    background-color: lightyellow;
}