@charset "UTF-8";

@media screen and  (min-width: 800px) {
     i#burguer {
        display: none;
    }

    menu#hamBURGUER {
        display: block;
    }
}

@media screen and (min-width: 801px) {
    main {
        width: 720px;
    }    
}