@charset "UTF-8";

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: 1 / 1 / 2 / 6;
    display: grid;
    grid-template: auto auto / auto;
    gap: 5px;
    margin: 4px;
}

div {
    grid-area: 1/1/2/1;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
}

h1 {
    margin-top: 30px;
    justify-self: center;
    margin-bottom: 0px;
}

nav {
    grid-area: 2/1/3/1;
    align-self: end;
    display: flex;
    justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.178);
}

#description {
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 30px;
}


main {
    grid-area: 2 / 1 / 3 / 6;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

#art1 {
    grid-area: 1 / 1 / 2 / 3;
    margin: 5px;
}

#art2 {
    grid-area: 1 / 3 / 2 / 4;
    margin: 5px;
    margin-top: 20px;
}

footer {
     grid-area: 3 / 1 / 4 / 6;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.137);
}

footer>p {
    margin-left: 20px;
}