@charset "UTF-8";

body {
    background-color: lightblue;
}

h1 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

p {
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }
    h1 {
    font-size: 35px;
}

    p {
        font-size: 20px;
    }
}

