@charset "UTF-8";

/* CSS para a tela de print (impressora) */

* {
    margin: 0px;
    padding: 10px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
}

p {
    background-color: lightgray;
    width: 800px;
    margin: auto;
}

h1, h2 {
    margin: 10px;
}


menu {
    display: none;
}

